langchain-core
langchain-community
langchain-huggingface
langchain-ollama
langchain-google-genai

sentence-transformers
faiss-cpu
pypdf

fastapi
uvicorn
python-multipart

sqlalchemy
pydantic
passlib
bcrypt
python-jose
python-dotenv
